<li>
    <p> 
        <!-- below verify  whether the user is signed in and the user who logged in is same the user who has made the post -->
        <% if(locals.user && locals.user.id==post.user.id) { %>
            <small>
                <a href="/posts/destroy/<%= post.id%>">DELETE</a>
            </small>
        
        
        <% } %>
        <%=post.content%> 
        <br>
       <small><%= post.user.name %>
       </small> 
    </p>

    <div id="post-comments">
        <%if(locals.user){%>
            <form action="/comments/create" method="post">
                <input type="text" name="content" placeholder="type here to add comments" required>
                <!-- sent the id of the post to which comment need to be added -->
                <input type="hidden" name="post" value="<%= post._id %>" >
                <input type="submit" value="add comments">
            </form>
            <% } %>
    
    </div>

    <div id="post-comments-list">
        <ul id="post-comments-<%= post._id %>">
            <% for(comment of post.comments) {%>
              <%-include('_comment')-%>
                <%}%>

        </ul>

    </div>
    </li> 