<!-- <link rel="stylesheet" href="/css/user_profile.css"> -->

<link rel="stylesheet" href="<%= assetPath('css/user_profile.css') %>">

<img src=" <%= user.avatar %>" alt="<%= user.name %>" width="100">



<!-- update a user by a form- display a form when user is viewing  his/her own profile -->
<!-- here in below line user.id contain the info of the user who is logged in whereas profile_user.id contian information of the user whose User_profie view is rendered -->
<% if(user.id==profile_user.id) { %>
    <!-- if user matches than show the form -->
    <form action="/users/update/<%= profile_user.id %>" enctype="multipart/form-data" method="POST">
        <p><%= profile_user.id %></p>
        <p><%= user.id %></p>
        <input type="text" name="name" placeholder="Your name" value="<%= profile_user.name %>" required>
        <input type="email" name="email" placeholder="Your email" value="<%= profile_user.email %>" required>
        <input type="file" name="avatar" placeholder="Profile Picture" >
        <input type="submit" value="Update">

    </form>


    <% } else{ %>
        <!-- else only show the profile information -->
        <p><%= profile_user.id %></p>
        <p><%= locals.user.id %></p>
        <p>
            <%= profile_user.name %>
        </p>
        <p>
            <%= profile_user.email %>
        </p>
        <% } %>